<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Mode | InSync</title>
    <link rel="stylesheet" href="/styles/learn.css"> 
    <link rel="stylesheet" href="/styles/homepage.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/> 
</head>
<body>
    <nav>
        <div class="menu">
            <div class="logo">
                <a href="homepage">
                    <img src="/images/logos.png" alt="InSync Logo" class="logo-img"> 
                </a>
            </div>
            <ul>
                <li><a href="profile">Account</a></li> 
                <li><a href="homepage">Home</a></li> 
            </ul>
        </div>
    </nav>
    <div class="homepage-container">
        <div class="homepage-title">
            <h1>Learn Mode</h1>
            <p>Choose your learning method</p>
        </div>
        <div class="button-container">
            <a href="tutorial" class="nav-button">Tutorial</a>  
            <a href="flashcard" class="nav-button">Flashcards</a> 
            <a href="quiz" class="nav-button">Quiz</a> 
            <a href="dictionary" class="nav-button">Dictionary</a> 
        </div>
    </div>
    <footer>
        <p style= "color: black;">&copy; 2024 InSync. All rights reserved.</p> 
    </footer>
</body>
</html>