body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.8; /* Increased line-height for better readability */
    font-size: 18px; /* Set a base font size */
    min-height: 100vh;
    background: #f3f3f3;
    flex-direction: column;
    margin: 0;
}

.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px 30px; /* Increased padding */
    transition: transform 0.2s;
    width: 1000px;
    text-align: center;
}

h1 {
    color: #4CAF50;
    font-size: 35px; /* Increased font size */
}

h3 {
    font-size: 24px; /* Added styling for h3 */
    margin-bottom: 25px;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px; /* Adjusted margin for consistency */
    text-align: left;
    color: #555;
    font-weight: bold;
    font-size: 25px; /* Increased font size */
}

input {
    display: block;
    width: 100%;
    margin-bottom: 20px; /* Increased margin for better spacing */
    padding: 15px; /* Increased padding for input fields */
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 25px; /* Increased font size */
}

button {
    padding: 20px; /* Increased padding for better click area */
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4CAF50;
    width: 100%;
    font-size: 30px; /* Increased font size */
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

#error-message {
    color: red;
    display: none;
    margin-top: 10px;
    font-size: 25px; /* Increased font size */
}

p {
    font-size: 25px; /* Adjusted for readability */
}

a {
    font-size: 25px; /* Adjusted for readability */
}
